@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 98.46%;
    --muted-background: 0 0% 74.48%;
    --foreground: 252 0% 10%;
    --muted: 0 0% 91.54%;
    --muted-foreground: 0 0% 53.08%;
    --popover: 0 0% 100%;
    --popover-foreground: 252 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 252 0% 30.77%;
    --border: 0 0% 86.92%;
    --input: 0 0% 74.62%;
    --primary: 197.06 100% 80%;
    --primary-glow: 197.06 100% 80% / 1;
    --primary-foreground: 0 0% 0%;
    --secondary: 27.06 100% 80%;
    --secondary-glow: 27.06 100% 80% / 1;
    --secondary-foreground: 27.06 100% 50%;
    --accent: 27.06 0% 93.85%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 65.31% 66.73%;
    --destructive-foreground: 0 0% 100%;
    --ring: 27.06 1.79% 32.5%;
    --chart-1: 197.06 100% 80%;
    --chart-2: 27.06 100% 80%;
    --chart-3: 27.06 0% 93.85%;
    --chart-4: 27.06 100% 83%;
    --chart-5: 197.06 103% 80%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98.46%;
    --sidebar-foreground: 252 0% 10%;
    --sidebar-primary: 197.06 100% 80%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 27.06 0% 93.85%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 86.92%;
    --sidebar-ring: 27.06 1.79% 32.5%;
  }

  .dark {
    --background: 0 0% 6.27%;
    --muted-background: 0 0% 23.25%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 25.38%;
    --primary: 196.8 100% 80%;
    --primary-glow: 196.8 100% 80% / .25;
    --primary-foreground: 0 0% 0%;
    --secondary: 27.06 100% 80%;
    --secondary-glow: 27.06 100% 80% / .25;
    --secondary-foreground: 27.06 100% 50%;
    --accent: 27.06 0.22% 23.03%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 75.1%;
    --destructive-foreground: 0 0% 0%;
    --ring: 197.06 100% 80%;
    --chart-1: 196.8 100% 80%;
    --chart-2: 27.06 100% 80%;
    --chart-3: 27.06 0.22% 23.03%;
    --chart-4: 27.06 100% 83%;
    --chart-5: 196.8 103% 80%;
    --sidebar-background: 0 0% 6.27%;
    --sidebar-foreground: 252 37% 98%;
    --sidebar-primary: 196.8 100% 80%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 27.06 0.22% 23.03%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 15.69%;
    --sidebar-ring: 197.06 100% 80%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
